@media (max-width: 75em) {
  body {
    background-image: url('../../assets/technology/background-technology-tablet.jpg');
  }
  .content {
    padding: 0;
    gap: 4.8rem;
  }
  .page-title {
    padding-left: 16rem;
  }
  .main-content {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .pagination {
    flex-direction: row;
  }
  .main-text {
    align-items: center;
    padding: 0 16rem;
  }
  .tech-img-container {
    grid-row-start: 1;
    width: 100%;

    /* margin: 0 auto; */
  }
  .tech-img {
    width: 100%;
  }
}

@media (max-width: 59em) {
  .page-title {
    padding-left: 9.2rem;
  }
  .main-text {
    padding: 0 9.2rem;
  }
}
@media (max-width: 35em) {
  body {
    background-image: url('../../assets/technology/background-technology-mobile.jpg');
  }
  .page-title {
    padding-left: 0;
    text-align: center;
  }
  .main-text {
    padding: 0 2.4rem;
  }
}
