* {
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-size: 1.6rem;
  color: #d0d6f9;

  overflow-x: hidden;
  min-height: 100vh;
}

.hidden {
  display: none;
}
header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  align-self: stretch;
  gap: -3.2rem;

  padding-top: 4rem;
}
.logo-container {
  padding-left: 6.4rem;
  align-items: center;

  display: flex;
  gap: 6.4rem;
  flex: 1 0 0;
}
.logo-container hr {
  height: 1px;

  flex: 1 0 0;

  opacity: 0.25;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 0;

  gap: 4.8rem;

  padding: 0 6.4rem;
  min-width: 66.4rem;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
}
.nav-links,
.nav-links:link,
.nav-links:visited {
  height: 9.6rem;
  font-size: 1.6rem;

  font-weight: 400;
  letter-spacing: 0.2rem;
  justify-content: center;
}
.nav-links,
.nav-links:link,
.nav-links:visited,
.hidden-nav-links,
.hidden-nav-links:link,
.hidden-nav-links:visited {
  font-feature-settings: 'clig' off, 'liga' off;

  display: flex;
  font-family: 'Barlow Condensed', sans-serif;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  line-height: normal;
  font-style: normal;
  gap: 0.8rem;
}

.nav-links:hover {
  border-bottom: 0.3rem solid white;
}
.nav-links span,
.hidden-nav-links span {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.27rem;
}

.bb3px {
  border-bottom: 0.3rem solid white;
}
.br5px {
  border-right: 0.5rem solid white;
}

#menu-button,
#menu-button:focus-visible {
  height: fit-content;
  /* display: flex; */
  gap: 8px;
  flex-direction: column;
  justify-self: end;
  background: transparent;
  border: 0;
  cursor: pointer;

  outline: none;
  display: none;
}

.menu {
  width: 3.5rem;
  height: 0.3rem;
  background-color: #d0d6f9; /* border: 0; */
  border-radius: 5px;
  transition: transform 0.5s ease;
  transform-origin: right;
}
.menu2 {
  transition: opacity 0.5s ease;
}
.hidden-nav {
  display: none;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
.page-title span {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4725rem;

  opacity: 0.25;
}
.page-title p {
  margin: 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;

  /* desktop/heading-xs */
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.slide-in {
  /* Initial state off-screen to the right */
  transform: translateX(100%);
  /* Apply the animation */
  animation: slide-in 0.5s ease-out forwards;
  /* overflow: hidden; */
}

@keyframes slide-in {
  to {
    /* Final state on-screen */
    transform: translateX(0);
  }
}
.slide-out {
  /* Initial state on-screen */
  transform: translateX(0);
  /* Apply the animation */
  animation: slide-out 0.5s ease-out forwards;
  /* overflow: hidden; */
}

@keyframes slide-out {
  to {
    /* Final state off-screen to the right */
    transform: translateX(100%);
  }
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(5px);
}
